.hidden {
  display: none;
}
body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color:#434455;
  background-color: #FFFFFF;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6, p {
margin: 0;
}
ul {
list-style-type: none;
margin: 0;
padding: 0;
}
img {
display: block;
max-width: 100%;
height: auto;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container { 
  max-width: 320px; 
  margin: 0 auto;
  padding: 0 16px;
  }

@media screen and (min-width: 768px) {
  .container { 
    max-width: 768px; 
    margin: 0 auto;
    padding: 0 16px;
    }
}
@media screen and (min-width: 1158px) {
  .container { 
    max-width: 1158px; 
    padding: 0 15px;
    }
}
@media screen and (max-width: 1158px) {
  .container-icon {
    display: none;
  }
}

/*--------------HEADER------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list, .address {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 16px;
}
.header-logo {
  padding: 16px 0;
  display: block;
}
.header-logo-span {
  color: #2e2f42;
}
.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #2f2f37;;
}
@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }
  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }
  
  .navigations {
    display: flex;
    align-items: center;
  }
  .link-nav-list-item {
    display: block;
    position: relative; 
    font-weight: 500; 
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1,5;
    color: #2e2f42;; 
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-nav-list:first-child .link-nav-list-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    color: #404bbf; 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-nav-list-item:hover {
    color: #404bbf;
  }
  .link-nav-list-item:focus {
    color: #404bbf;
  }
  .address {
    font-style: normal;
    display: block;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px; 
  }
  .address-list-item-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-list-item-link:hover {
    color: #404bbf;
  }
  .address-list-item-link:focus {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .address-list {
    gap: 40px;
    flex-direction: row;
    align-items: center;
  }
  .address-list-item-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
}
/*---------------MOBILE MENU-----------------------*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  fill: #e7e9fc;
  stroke-width: 1px;
  stroke: #2e2f42;
}
.mobile-icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
}
.mobile-menu-close:hover>.mobile-icon-close {
  fill: #fff;
  }
.mobile-menu-close:focus>.mobile-icon-close {
  fill: #fff;
}
.mobile-menu-nav {
  margin-bottom: auto;
  
}
.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mobile-menu-nav-list-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.nav-individ {
  color: #404bbf;
}
.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-menu-address-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-style: normal;
}
.mobile-address-mail {
  color: #434455;
}
.mobile-address-tel {
  color: #4d5ae5;
}
.mobile-soc-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: space-between;
  padding-top: 48px;
}
.mobile-soc-item {
  width: 40px;
  height: 40px;
}
.mobile-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-soc-icon {
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
   .mobile-menu {
    display: none;
  }
}
/*-------------MAIN BUTTON------------------*/
.main-button {
  max-width: 320px;
  padding: 72px 0;
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
  url(../images/people-office-mob-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  background-position: center;
}
@media (min-resolution: 192dpi) {
  .main-button {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office-mob-2x.jpg);
}
}
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  align-items: center;
  margin-right: auto;
  margin-bottom: 72px;
  margin-left: auto;
  padding-top: 72px;
  padding-left: 52px;
  padding-right: 52px;
}
.button {
  font-family: Roboto, sans-serif;
  border-radius: 4px;
  min-width: 169px;
  height: 56px; 
  padding: 16px 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #fff;
  padding: 16px 32px;
  border: none; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #404BBF;
}
.button:focus {
  background-color: #404BBF;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
.main-button {
  max-width: 768px;
  padding: 112px 0;
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
  url(../images/people-office-tab-1x.jpg);
  }
  @media (min-resolution: 192dpi) {
  .main-button {
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
  url(../images/people-office-tab-2x.jpg);
  }
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  max-width: 496px;
  margin-top: 0;
  margin-bottom: 36px;
}
.button {
  font-family: Roboto, sans-serif;
  align-items: center;
  justify-content: center;
}
}
@media screen and (min-width: 1158px) {
  .main-button {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/people-office-desk-1x.jpg);
  }
  @media (min-resolution: 192dpi) {
    .main-button {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office-desk-2x.jpg);
    }
}
.main-title {
  margin-bottom: 48px;
}
}
.section {
  padding: 91px 0 79px 0;
}
.advantage-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.advantage-title-list {
  list-style-type: none; 
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
 }
 .advantage-list-item {
  width: 100%;
}
.advanteges-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.advanteges-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 96px 0 96px 0;
  }
  .advantage-title-list {
    display: flex;
    column-gap: 24px;
    row-gap: 72px;
   }
   .advantage-list-item {
    width: calc((100% - 24px) / 2);
  }
  .advanteges-list {
    line-height: 1.2;
    font-weight: 700;
    font-size: 36px;

/* line-height: 40px; */ 
line-height: 1.11111;
letter-spacing: 0.02em;
color: #2e2f42;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0 120px 0;
  }
  .advantage-title-list {
    display: flex;
    gap: 24px;
   }
   .advantage-list-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: calc((100% - 72px) / 4);
  } 
  .container-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    padding: 24px 100px 24px 100px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .advanteges-list {
    font-weight: 500;
    font-size: 20px;
  }
}
.our-team {
  background-color: #F4F4FD;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-title-list {
  width: 100%;
  list-style-type: none; 
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}
.team-list {
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  border-radius: 0px 0px 4px 4px; 
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-foto-item {
  width: 100%;
}
.name-worker {
 width: 100%;  
 padding: 32px 0;
}
.team-name-person {
  font-weight: 500;
  font-size: 20px; 
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin: 0;
}
.team-soc-list {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  gap: 24px;
}
.team-soc-list-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}
.team-soc-icon {
fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .container-team{
    width: 768px;
  }
  .team-title-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
  .team-list {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .container-team {
    width: 1140px;
    }
    .team-title-list {
      display: flex;
      gap: 24px;
    }
    .team-list {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 32px;
      border-radius: 0px 0px 4px 4px;
      width: calc((100% - 72px) / 4);
    }
}